<body>
    <script>

        const a = +prompt('numero 1');
        const b = +prompt('numero 2');
        const c = +prompt('numero 3');
        
        function acharMaior(a, b, c) {
            if(a >= b && a >= c)
                return a;
            else if (b >= c)
                return b;
            else
                return c;
        }

        function acharMenor(a, b, c) {
            if(a <= b && a <= c)
                return a;
            else if (b <= c)
                return b;
            else
                return c;
        }

        const maior = acharMaior(a, b, c);
        const menor = acharMenor(a, b, c);

        console.log(maior);
        console.log(menor);


    </script>
</body>